.layout {
  display: flex;
  justify-content: center;
}

.layout .header {
  width: 100%;
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  position: fixed;
  background-color: var(--color-primary);
  z-index: 9999;
}

.layout .header h1 {
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-family: "Black Han Sans";
  font-size: 1.25rem;
  color: var(--color-white);
  transform: translateX(-1.25rem);
  transition: background-color 300ms ease;
}

.layout .header h1 .logo {
  font-size: 1.5rem;
}

.layout .header h1 .text {
  transform: translateY(2px);
}

.layout .main {
  width: var(--container-width);
  min-width: var(--container-width);
  margin: 0 1rem;
  padding: 8rem 0;
}

.layout.mobile .main {
  min-width: 0;
  padding: 6.25rem 0;
}

@media screen and (max-width: 1024px) {
  .layout {
    justify-content: flex-start;
  }
}
