.header {
  padding: 1.5rem 0;
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
}

.header h1 {
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-family: "Black Han Sans";
  font-size: 1.25rem;
  color: var(--color-white);
  transform: translateX(-1.25rem);
  transition: background-color 300ms ease;
}

.header h1 .logo {
  font-size: 1.5rem;
}

.header h1 .text {
  transform: translateY(2px);
}

.main {
  width: 1024px;
  margin: 0 auto;
  padding: 3rem 0 8rem;
}
