.favoriteList {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.favoriteList::-webkit-scrollbar {
  display: none;
}

.favoriteList ul {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
}

.favoriteList ul li button {
  display: flex;
  align-items: center;
}

.favoriteList ul li button .removeIcon {
  margin-left: 0.25rem;
  font-size: 1rem;
  color: var(--color-font-gray);
  transform: translateY(1px);
  transition: color 300ms ease;
}

.favoriteList ul li button .removeIcon:hover {
  color: var(--color-red);
}
