.TradeListTableMobile .selectWrap {
  display: flex;
  column-gap: 0.5rem;
}

.TradeListTableMobile .selectWrap select {
  width: 50%;
}

.TradeListTableMobile .tableWrap {
  margin-top: 1rem;
}

.TradeListTableMobile .tableWrap .loading,
.TradeListTableMobile .tableWrap .empty {
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  font-weight: 700;
}

.TradeListTableMobile .tableWrap .list ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.TradeListTableMobile .tableWrap .list ul li {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

.TradeListTableMobile .tableWrap .list ul li.active {
  border-color: var(--color-primary);
}

.TradeListTableMobile .tableWrap .list ul li .left {
  display: flex;
  flex-direction: column;
  row-gap: 0.35rem;
}

.TradeListTableMobile .tableWrap .list ul li .left .apartName {
  font-weight: 700;
}

.TradeListTableMobile .tableWrap .list ul li .left .tradeDate,
.TradeListTableMobile .tableWrap .list ul li .left .etc {
  font-size: 0.85rem;
}

.TradeListTableMobile .tableWrap .list ul li .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
}

.TradeListTableMobile .tableWrap .list ul li .right .amountWrap {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.TradeListTableMobile .tableWrap .list ul li .right .amountWrap .tradeAmount {
  font-size: 1.05rem;
  font-weight: 700;
  color: var(--color-primary);
}

.TradeListTableMobile .tableWrap .list ul li .right .buttonWrap button {
  padding: 0;
  border: none;
  background: none;
  font-size: 0.9rem;
  text-decoration: underline;
}

.TradeListTableMobile .tableWrap .list ul li .right .buttonWrap button.saveButton {
  color: var(--color-primary);
}

.TradeListTableMobile .tableWrap .list ul li .right .buttonWrap button.removeButton {
  color: var(--color-red);
}

.TradeListTableMobile .pagenationWrap {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
}
