.tradeListTable {
  border-top: 1px solid var(--color-border);
}

.tradeListTable .header,
.tradeListTable .row {
  padding: 0 0.75rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1.5fr 0.75fr 0.5fr 0.5fr 0.25fr;
}

.tradeListTable .header .headerCell button {
  width: 100%;
  padding: 1.5rem 0.75rem;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;
  border: none;
  background-color: transparent;
  text-align: left;
  font-weight: 700;
  white-space: nowrap;
}

.tradeListTable .header .headerCell button span.asc,
.tradeListTable .header .headerCell button span.desc {
  transition: transform 500ms ease;
}

.tradeListTable .header .headerCell button span.asc {
  transform: rotate(-180deg) translateY(-2px);
}

.tradeListTable .header .headerCell button span.desc {
  transform: rotate(0deg) translateY(-2px);
}

.tradeListTable .body {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.tradeListTable .body .loading,
.tradeListTable .body .empty {
  padding: 3.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--color-border);
}

.tradeListTable .body .empty {
  font-weight: 700;
}

.tradeListTable .body .row {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  background-color: white;
  transition: border-color 300ms ease;
}

.tradeListTable .body .row.active {
  border-color: var(--color-secondary);
}

.tradeListTable .body .row .cell {
  padding: 1.5rem 0.75rem;
  box-sizing: border-box;
}

.tradeListTable .body .row .cell .highlight {
  font-weight: 700;
  color: var(--color-secondary);
}

.tradeListTable .body .row .cell .wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.25rem;
}

.tradeListTable .body .row .cell .wrap small {
  font-size: 0.85rem;
}

.tradeListTable .body .row .buttonCell {
  padding: 0 0.75rem;
  display: flex;
  align-items: center;
}

.tradeListTable .body .row .buttonCell button {
  padding: 0;
  border: none;
  background: none;
  font-size: 0.9rem;
  text-decoration: underline;
}

.tradeListTable .body .row .buttonCell button:hover {
  font-weight: 700;
  cursor: pointer;
}

.tradeListTable .body .row .buttonCell button.saveButton {
  color: var(--color-link);
}

.tradeListTable .body .row .buttonCell button.removeButton {
  color: var(--color-red);
}

.tradeListTable .pagination {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
