@import "reset-css";

:root {
  --container-width: 1024px;
  --font-size: 12.2px;
  --form-height: 3.25rem;
  --form-height-small: 2.75rem;
  --form-height-xsmall: 2.25rem;
  --border-radius: 2px;
  --color-white: #fff;
  --color-font: #333;
  --color-font-gray: #999;
  --color-button: #e9e9e9;
  --color-button-hover: #dedede;
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --color-yellow: #fcd34d;
  --color-red: #ef4444;
  --color-red-hover: #dc2626;
  --color-yellow-hover: #fbbf24;
  --color-border: #e2e2e2;
}

html {
  font-size: var(--font-size);
}

body {
  background-color: #f9f9f9;
}

body,
input,
textarea,
select,
button {
  font-family: "Noto Sans KR", sans-serif;
  color: var(--color-font);
}
