.header {
  height: 5rem;
  position: relative;
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  box-sizing: border-box;
  box-shadow: 0 0 10px #ddd;
}

.header h1 {
  font-size: 1.15rem;
  font-weight: 700;
}

.header nav {
  height: 100%;
  display: flex;
  gap: 1.5rem;
}

.header nav a {
  position: relative;
  border-bottom: 3px solid var(--color-primary);
  padding: 1.75rem 0;
  box-sizing: border-box;
  text-decoration: none;
}

.main {
  width: 1024px;
  margin: 0 auto;
  padding: 3rem 0 8rem;
}
