.filterForm {
  padding-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}

.filterForm .summaryWrap {
  display: flex;
  column-gap: 0.25rem;
}

.filterForm .summaryWrap strong {
  font-weight: 700;
  color: var(--color-primary);
}

.filterForm .buttonWrap {
  display: flex;
  gap: 0.5rem;
}
