.tradeListPc {
  display: flex;
  flex-direction: column;
}

.tradeListPc .favoriteList {
  margin-top: 0.75rem;
}

.tradeListPc .filterForm {
  margin-top: 2rem;
}

.tradeListPc .tradeList {
  margin-top: 0.75rem;
}

.tradeListMobile .favoriteList {
  margin-top: 1.5rem;
}

.tradeListMobile .filterForm {
  margin-top: 2.25rem;
}

.tradeListMobile .tradeList {
  margin-top: 0.5rem;
}
