.savedList {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.savedList .empty {
  padding: 2.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background-color: var(--color-button);
  font-weight: 700;
}

.savedList div h6 {
  font-size: 1.05rem;
  font-weight: 700;
}

.savedList div ul {
  margin-top: 0.75rem;
  padding: 0.75rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  border-radius: var(--border-radius);
  background-color: var(--color-button);
}

.savedList div ul li button {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.savedList div ul li button span {
  display: block;
  margin-left: 0.5rem;
  color: var(--color-font-gray);
  transform: translateY(1px);
  transition: color 300ms ease;
}

.savedList div ul li button span:hover {
  color: var(--color-red);
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .savedList div ul {
    overflow: auto;
    flex-wrap: nowrap;
  }
}
