.savedList {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.savedList dt {
  font-size: 1.05rem;
  font-weight: 700;
}

.savedList ul {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.savedList li button {
  display: flex;
  align-items: center;
}

.savedList li span {
  display: block;
  margin-left: 0.5rem;
  color: var(--color-font-gray);
  transform: translateY(1px);
  transition: color 300ms ease;
}

.savedList li span:hover {
  color: var(--color-red);
  cursor: pointer;
}
