.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.25rem;
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--color-button);
  box-sizing: border-box;
  transition: background-color 300ms ease;
}

.checkbox:hover {
  cursor: pointer;
}

.checkbox.defaultSize {
  height: var(--form-height);
  padding: 0 1.5rem;
}

.checkbox.smallSize {
  height: var(--form-height-small);
  padding: 0 1rem;
  font-size: 0.95rem;
}

.checkbox.xsmallSize {
  height: var(--form-height-xsmall);
  padding: 0 0.75rem;
  font-size: 0.85rem;
}

.checkbox svg {
  color: #888;
  transform: translateY(1px);
}

.checkbox.checked {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.checkbox.checked svg {
  color: var(--color-white);
}
